*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Nunito", sans-serif;
  color: #6d5d4b;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: Josefin;
  font-weight: 400; }

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1; }
  .heading-2--light {
    color: #f9f7f6; }
  .heading-2--dark {
    color: #54483a; }

.heading-3 {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #c69963; }

.heading-4 {
  font-size: 1.9rem; }
  .heading-4--light {
    color: #f9f7f6; }
  .heading-4--dark {
    color: #54483a; }

.btn {
  font-size: 1.6rem;
  border-radius: 0;
  background-color: #c69963;
  text-transform: uppercase;
  color: #fff;
  font-family: "Josefin Sans", sans-serif;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  border: none;
  padding: 2rem 3rem;
  transition: all .2s; }
  .btn:hover {
    background-color: #b28451; }

/*UTILITIES*/
.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }

.sidebar {
  background-color: #c69963;
  grid-column: sidebar-start/sidebar-end;
  grid-row: 1/-1; }

.header {
  background-color: pink;
  grid-column: full-start/col-end 6; }

.realtors {
  background-color: lightsteelblue;
  grid-column: col-start 7/full-end; }

.features {
  grid-column: center-start/center-end;
  margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 6rem; }

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content 1fr;
  align-items: start; }
  .feature__icon {
    fill: #c69963;
    height: 4.5rem;
    width: 4.5rem;
    margin-right: 2rem;
    transform: translateY(-1rem); }
  .feature__text {
    font-size: 1.7rem;
    grid-column: 2/-1; }

.story_pictures {
  background-image: linear-gradient(rgba(198, 153, 99, 0.5), rgba(198, 153, 99, 0.5)), url(../img/back.jpg);
  grid-column: full-start/col-end 4;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  align-items: center; }

.story_img--1 {
  width: 100%;
  grid-column: 2/6;
  grid-row: 2/6;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1); }

.story_img--2 {
  width: 115%;
  grid-column: 4/-1;
  grid-row: 4/7;
  z-index: 10;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1); }

.story_content {
  background-color: #f9f7f6;
  grid-column: col-start 5/full-end;
  padding: 6rem 12rem; }

.story__text {
  font-size: 1.6rem;
  color: #54483a;
  margin-bottom: 8rem; }

.homes {
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 10rem;
  margin: 15rem 6rem; }

.home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 3.5rem;
  justify-items: center;
  background-color: #f9f7f6; }
  .home__img {
    width: 100%;
    grid-column: 1/-1;
    grid-row: 1/2; }
  .home__name {
    font-size: 1.6rem;
    font-weight: 400;
    background-color: #101d2c;
    color: #f9f7f6;
    padding: 1.25rem;
    text-align: center;
    grid-column: 1/-1;
    grid-row: 1/2;
    transform: translateY(50%);
    justify-self: center;
    align-self: end; }
  .home__like {
    fill: #c69963;
    width: 2.5rem;
    height: 2.5rem;
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: end;
    margin: 1rem 1.5rem; }
  .home__location, .home__rooms {
    margin-top: 2rem; }
  .home__location, .home__price, .home__area, .home__rooms {
    display: flex;
    font-size: 1.2rem; }
    .home__location svg, .home__price svg, .home__area svg, .home__rooms svg {
      fill: #c69963;
      width: 2rem;
      height: 2rem;
      margin-right: 1rem; }
  .home__btn {
    grid-column: 1/-1;
    justify-self: stretch; }

.gallery {
  background-color: lightsalmon;
  grid-column: full-start/full-end; }

.footer {
  background-color: lightcoral;
  grid-column: full-start/full-end; }
